.bg-gray-100

  .min-h-full
    include template/navbar
    include template/header
    main.mt-8
      div(class='relative mx-auto w-full max-w-7xl space-y-20 px-4 pt-20 sm:px-6 lg:px-8')
        include template/section
